/* les titres  */

.zoo-header {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

.zoo-header h1 {
  font-size: 36px;
  font-weight: bold;
  color: #3E8E41; /* Vert écologique */
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.zoo-header h2 {
  font-size: 24px;
  color: #666;
  margin-top: 10px;
}

.amis-les-animaux, .service-titre {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #3E8E41; /* Vert écologique */
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  margin-bottom: 20px;
}

/* La séparation des sections  */

.separateur {
  border: none;
  border-top: 2px solid #3E8E41; /* Vert écologique */
  margin: 30px 50px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* Section Habitat */

.carousel-inner img {
  width: 100%;
  height: 500px; /* ajustez la hauteur selon vos besoins */
  object-fit: cover;
  border-radius: 10px 10px 0 0; /* Coins arrondis */
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: #3E8E41; /* Vert écologique */
  border-radius: 50%;
  padding: 10px;
}

.carousel-caption {
  background: rgba(62, 142, 65, 0.7); /* Fond semi-transparent vert */
  padding: 1rem;
  border-radius: 0.5rem;
  bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Ombre */
}

.carousel-caption h5 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
  margin: 0;
}

.carousel {
  margin: 0 150px; /* Marge à gauche et à droite */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Ombre */
  border-radius: 10px; /* Coins arrondis */
}

.habitat-button-container {
  text-align: center;
  margin-top: 20px;
}

.caroussel-habitat {
  background-color: #3E8E41; /* Vert écologique */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

.caroussel-habitat:hover {
  background-color: #2E6E31; /* Vert écologique foncé */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

/* Section Animal */

.animal-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
  gap: 2em;
  padding: 2em;
  margin: 0 150px; /* Marge à gauche et à droite */
  justify-items: center;
}

.animal-card {
  width: 288px;
  height: 498px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
}

.animal-card:hover {
  transform: translateY(-5px);
}

.animal-card img {
  width: 254px;
  height: 254px;
  object-fit: cover;
  border-radius: 10%;
  margin: 17px auto 0 auto;
}

.animal-info {
  padding: 1em;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.animal-info h2 {
  margin-top: 0;
  font-size: 1.5em;
  color: #2d3e50;
  text-align: center;
}

/* Service */
.services {
  text-align: center;
  margin: 50px 0;
}

.service-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 150px;
}

.service-card {
  width: 416px;
  height: 592px;
  margin: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.service-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.service-card h2 {
  margin-top: 20px;
  font-size: 28px;
  font-weight: bold;
}

.service-card p {
  padding: 20px;
  font-size: 18px;
  color: #666;
  flex-grow: 1;
}

.contact-button {
  margin-top: 50px;
  text-align: center;
}

.btn-contact {
  background-color: #3E8E41;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  text-decoration: none;
}

.btn-contact:hover {
  background-color: #2E6E31;
}